[submodule "media/cauldron-media"]
	path = media/cauldron-media
	url = git@github.com:DecayFang/Cauldron-Media.git
[submodule "libs/cauldron"]
	path = libs/cauldron
	url = git@github.com:DecayFang/Cauldron.git
